@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Nabla:EDPT,EHLT@65,0&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400..700&display=swap');

.return{
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #f1f38e;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    font-family: poppins;
}

.form-box {
    /* position: relative; */
    width: 400px;
    height: 460px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #10abf3;
    box-shadow: 14px 14px 10px #2e05e6
}

input {
    caret-color: red;
}

.inputs {
    text-align: left;
    margin-top: 30px;
}

label,
input,
.submit {
    /* display: block; */
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

label {
    margin-bottom: 4px;
}

label:nth-of-type(2) {
    margin-top: 12px;
}

input::placeholder {
    color: gray;
}

input {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.submit {
    color: white;
    margin-top: 20px;
    background: #1DA1F2;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
}

.submit:hover {
    box-shadow: none;
    background-color: white;
    color:black;
}

img {
    width: 12px;
    height: 10px;
    padding: 0;
    margin: 0;
    /* mix-blend-mode:screen; */
}

.dots-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    border-radius: 10%;
    width: 500px;
    margin-right: 100px;
    background-color: transparent;
    position: relative;
    background-color: #F7E8D4;
    border: 3px solid black;
}
.bar1 {
    all: unset;
    width: 77px;
    cursor: pointer;
    border-radius: 20%;
    background-color: black;
    padding: 0;
    margin: 0;
}

.bar {
    all: unset;
    width: 77px;
    cursor: pointer;
    border-radius: 20%;
    /* background-color: white; */
    padding: 0;
    margin: 0;
}

.bar:hover {
    background-color: grey;
}

.bar:active {
    background-color: orange;
}

.bary1 {
    all: unset;
    width: 10.2px;
    /* margin: 2px; */
    cursor: pointer;
    border-radius: 20%;
    background-color: black;
}

.bary {
    all: unset;
    width: 10.5px;
    cursor: pointer;
    border-radius: 20%;
}

.bary:hover {
    background-color: grey;
}

.bary:active{
    background-color: orange;
}

.sqrt {
    display: flex;
}

.square {
    all:unset;
    backdrop-filter: blur(10px);
    font-size: 40px;
    height: 60px;
    padding: 0px;
    text-align: center;
    width: 79px;
    cursor: pointer;
    
}

.dots {
    cursor: pointer;
    background-color: black;
    float: left;
}

.btn {
    display: flex;
}

.game{
    height: 140vh;
    border-top: none;
    backdrop-filter: brightness(150%);
    width: 90vw;
    margin-left: 60px;
}
.wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/woodenback.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -8;
}
.backimg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(images/woodenback.jpg);
    filter:brightness(62%);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    z-index: -1;
}
.top {
    margin-top: 30px;
}

.bottom {
    margin-bottom: 30px;
}

.status1 {
    /* border: 6px solid green; */
    position: relative;
    width: 42%;
    height: 100%;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: rgb(236, 0, 0);
    margin: 3px;
    padding: 10px;
    background-color: peachpuff;
    border: 6px solid black;
    margin-right: 1px;
}
.status2 {
    /* border: 6px solid green; */
    position: relative;
    text-transform: uppercase;
    width: 42%;
    height: 100%;
    font-size: 1.5rem;
    /* overflow: scroll; */
    /* justify-items: center; */
    backdrop-filter: blur(10px);
    color: rgb(255, 11, 11);
    margin: 3px;
    padding: 10px;
    background-color: peachpuff;
    border: 6px solid black;
    margin-left: 1px;
}
hr{
    margin: 0;
    padding: 0;
}
.score{
    background-color:#a7875e;
    color: white;
    margin: 0;
    display: flex;
    padding: 6px;
    position: relative;
    border: 1px solid black;
    font-family: "Reem Kufi Fun", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.turn{
    text-transform: capitalize;
    backdrop-filter: blur(6px);
    border: 1px solid black;
    height: 18vh;
    /* width: 60vh; */
    align-content: center;
    text-align: center;
    border-radius: 20%;
    margin-bottom: 60px;
    animation: flicker 0.3s linear forwards;
    font-family: "Reem Kufi Fun", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.status-box {
    width: 420px;
}
.score-word{
    background-color: black;
    font-size: 3rem;
    border: 1px solid black;
    border-bottom: none;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.restart{
    width: 100px;
    margin-top: 10px;
    padding: 10px;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255);
    border-radius: 30%;
    font-family:poppins;
    border: 3px solid black;
    box-sizing: border-box;
    box-shadow: 6px 6px 6px rgb(99, 129, 252);
}
.restart:hover{
    cursor: pointer;
    background-color: rgb(99, 129, 252);;
    transition: all 0.5s;
    box-shadow: 6px 6px 6px rgb(255, 255, 255);
}

.name{
    /* padding: 20px; */
    background-color: #000000c0;
    border-bottom: 1px solid black; 
    font-size: 3rem;
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "EDPT" 64,
      "EHLT" 12;
}

@keyframes flicker {
    0%, 100% {
        color: #000000;
    }
    10% {
        color: #ff0000;
    }
    20% {
        color: #00ff00;
    }
    30% {
        color: #0000ff;
    }
    40% {
        color: #ffff00;
    }
    50% {
        color: #ff00ff;
    }
    60% {
        color: #00ffff;
    }
    70% {
        color: #ff0000;
    }
    80% {
        color: #00ff00;
    }
    90% {
        color: #0000ff;
    }
}